@import 'https://unpkg.com/@bobanm/cardinal@latest';

main {
    grid-template-areas: 
        'about'
        'network'
        'wallet'
        'contract'
        'status';
}

#about {
    grid-area: about;
}
#network {
    grid-area: network;
}
#wallet {
    grid-area: wallet;
}
#contract {
    grid-area: contract;
}
#status {
    grid-area: status;
}

input {
    margin-right: 0.5em;
}

.center {
    text-align: center;
}

.last {
    margin-bottom: 1em;
}

@media (min-width: 50em) {
    main {
        margin-top: 2em;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'about   about   about    about'
            '....... network network  ........'
            'wallet  wallet  contract contract'
            'status  status  status   status';
    }
}

[v-cloak] {
    display: none;
}