<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/ethereum/ethereum-org/master/dist/favicon.ico">

    <title>Ethers.js + Hardhat + Vue.js Demo</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500&display=swap" rel="stylesheet">
</head>

<body id="app" v-cloak>
    <div class="center"><button @click="showModal = true">What is going on here?</button></div>
    <main>
        <div class="modal" v-if="showModal">
            <article class="modal-content orange">
                <span @click="showModal = false" class="close-button">&times;</span>
                <h2>Glad you asked...</h2>
                <p>
                    <div>
                        A few things are going on under the hood here. This frontend:
                        <ul>
                            <li>works with multiple networks and accounts</li>
                            <li>refreshes network values when network changes</li>
                            <li>refreshes account values when account changes</li>
                            <li>disables refunds if the account has no ETH in the contract</li>
                            <li>listens to block events to continuously update block number</li>
                            <li>reads past payments and refunds from the log</li>
                            <li>decodes log data to fetch transaction value</li>
                        </ul>

                        You can interact with the contract on these networks:
                        <ul>
                            <li v-for="network in networksAvailable">{{ network }}</li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>

        <article v-if="!isFatalError" id="network" class="box cyan">
            <h2>Network</h2>
                <img src="img/icon-supervisor.svg" alt="">
                <p>
                    <div>Connected to {{ networkName }}, ID {{ networkId }}</div>
                    <div>Current block {{ blockNumber }}</div>
                </p>
        </article>

        <article v-if="!isFatalError" id="account" class="box red">
            <h2>Account</h2>
            <img src="img/icon-team-builder.svg" alt="">
            <p>
                <div>MetaMask account {{ accountAddress }}</div>
                <div>Balance {{ accountBalanceEth }} ETH</div>
                <div>Balance in contract {{ accountBalanceInContractEth }} ETH</div>
            </p>
            <p>
                <div><input v-model="amountEth" :disabled="isSending" placeholder="ETH amount"></label></div>
                <button @click="send" :disabled="isSending || !Number(amountEth)">Send to contract</button>
            </p>
            <p v-if="payments.length">
                <button @click="isShowPayments = !isShowPayments">{{ isShowPayments ? 'Hide' : 'Show' }} previous payments from this account</button>
                <ul v-if="isShowPayments">
                    <li v-for="payment in payments">[block {{ payment.blockNumber }}] {{ payment.amount }} ETH</li>
                </ul>
            </p>
        </article>

        <article v-if="!isFatalError" id="contract" class="box blue">
            <h2>Contract</h2>
            <img src="img/icon-calculator.svg" alt="">
            <p>
                <div>Address {{ contractAddress }}</div>
                <div>Balance {{ contractBalanceEth }} ETH</div>
                <div>Received {{ paymentsCount }} payments</div>
                <div>Completed {{ refundsCount }} refunds</div>
            </p>
            <p>
                <button @click="refund" :disabled="isRefunding || !Number(accountBalanceInContractWei)">Request refund</button>
            </p>
            <p v-if="refunds.length">
                <button @click="isShowRefunds = !isShowRefunds">{{ isShowRefunds ? 'Hide' : 'Show' }} previous refunds to this account</button>
                <ul v-if="isShowRefunds">
                    <li v-for="refund in refunds">[block {{ refund.blockNumber }}] {{ refund.amount }} ETH</li>
                </ul>
            </p>
        </article>

        <article id="status" class="box orange">
            <h2 v-if="!isFatalError">Transaction Status</h2>
            <h2 v-else>Error</h2>
            <img src="img/icon-karma.svg" alt="">
            <p>
            <div v-if="transactionHash">
                {{ transactionType }} initiated<br />
                Transaction hash {{ transactionHash }}<br />
                Awaiting block confirmation...
            </div>
            <div v-if="transactionBlock">Confirmed and mined in block {{ transactionBlock }}</span></div>
            <div v-if="errorMessage">{{ errorMessage }}</div>
            </p>
        </article>
    </main>
</body>

<script src="https://unpkg.com/vue@3" type="application/javascript"></script>
<script src="https://cdn.ethers.io/lib/ethers-5.6.9.umd.min.js" type="application/javascript"></script>
<script src="main.js" type="module"></script>

</html>