<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/ethereum/ethereum-org/master/dist/favicon.ico">

    <title>Send and Refund</title>
    <link rel="stylesheet" href="./custom.css">
</head>

<body id="app" v-cloak>
    <main>
        <div id="about" class="center"><button @click="showModal = true" class="btn-cyan">What is going on here?</button></div>
        <div id="modal-mask" v-if="showModal">
            <section id="modal-dialog" class="top-orange">
                <span @click="showModal = false" id="modal-close">&times;</span>
                <h2>Glad you asked...</h2>
                <div>
                    A few things are going on under the hood here. This frontend:
                    <ul>
                        <li>works with multiple networks and accounts</li>
                        <li>refreshes network values when network changes</li>
                        <li>refreshes account values when account changes</li>
                        <li>disables refunds if the account has no ETH in the contract</li>
                        <li>listens to block events to continuously update block number</li>
                        <li>reads past payments and refunds from the log</li>
                        <li>decodes log data to fetch transaction value</li>
                    </ul>

                    You can interact with the contract on these networks:
                    <ul>
                        <li v-for="network in networksAvailable">{{ network }}</li>
                    </ul>
                </div>
            </section>
        </div>

        <section id="network" class="top-cyan">
            <img src="./img/icon-supervisor.svg" class="right zoom" alt="">
            <h2>Network</h2>
                <div>Connected to {{ networkName }}, ID {{ networkId }}</div>
                <div>Current block {{ blockNumber }}</div>
        </section>

        <section id="wallet" class="top-red">
            <img src="./img/icon-team-builder.svg" class="right zoom" alt="">
            <h2>Wallet</h2>
            <div>Account {{ accountAddress }}</div>
            <div>Balance {{ accountBalanceEth }} ETH</div>
            <div class="last">Balance in contract {{ accountBalanceInContractEth }} ETH</div>
            <div>
                <input v-model="amountEth" :disabled="isReadOnly || isSending" placeholder="ETH amount" class="input-red"></label>
                <button @click="send" :disabled="isReadOnly || isSending || !Number(amountEth)" class="btn-red">Send to contract</button>
            </div>
            <div v-if="payments.length">
                <button @click="isShowPayments = !isShowPayments" class="btn-red">{{ isShowPayments ? 'Hide' : 'Show' }} payments from this account</button>
                <ul v-if="isShowPayments">
                    <li v-for="payment in payments">[block {{ payment.blockNumber }}] {{ payment.amount }} ETH</li>
                </ul>
            </div>
        </section>

        <section id="contract" class="top-blue">
            <img src="./img/icon-calculator.svg" class="right zoom" alt="">
            <h2>Contract</h2>
            <div>Address {{ contractAddress }}</div>
            <div>Balance {{ contractBalanceEth }} ETH</div>
            <div>Received {{ paymentsCount }} payments</div>
            <div class="last">Completed {{ refundsCount }} refunds</div>
            <button @click="refund" :disabled="isReadOnly || isRefunding || !Number(accountBalanceInContractWei)" class="btn-blue">Request refund</button>
            <div v-if="refunds.length">
                <button @click="isShowRefunds = !isShowRefunds"  class="btn-blue">{{ isShowRefunds ? 'Hide' : 'Show' }} refunds to this account</button>
                <ul v-if="isShowRefunds">
                    <li v-for="refund in refunds">[block {{ refund.blockNumber }}] {{ refund.amount }} ETH</li>
                </ul>
            </div>
        </section>

        <section id="status" class="top-orange">
            <img src="./img/icon-karma.svg" class="right zoom" alt="">
            <h2 v-if="!errorMessage">Transaction Status</h2>
            <h2 v-else>Error</h2>
            <div v-if="transactionHash" class="last">
                <div>{{ transactionType }} initiated</div>
                <div>Transaction hash {{ transactionHash }}</div>
                <div>Awaiting block confirmation...</div>
            </div>
            <div v-if="transactionBlock">Confirmed and mined in block {{ transactionBlock }}</span></div>
            <div v-if="errorMessage">{{ errorMessage }}</div>
        </section>
    </main>

    <footer>
        <a href="https://boban.ninja/"><img src="./img/house.svg" class="zoom"></a>
        <a href="https://github.com/bobanm/ethereum-basic-demo/" target="_blank" rel="noopener noreferrer"><img src="./img/github.svg" class="zoom"></a>
    </footer>
</body>

<script src="https://unpkg.com/vue@3" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.8.0/ethers.umd.min.js" type="application/javascript"></script>
<script src="./main.js" type="module"></script>

</html>