:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --grayText: #6a6c71;
    --weight1: 300;
    --weight2: 500;
}

body {
    font-size: 1.125rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: var(--weight1);
    color: var(--grayText);
    background-color: var(--veryLightGray);
    margin: 1em;
    min-width: 500px;
}

main {
    display: grid;
    gap: 2rem;
    max-width: 1060px;
    margin: 0 auto;
}

button, input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0.25em 0;
    padding: 0.2em 0.4em;
}

input {
    margin-right: 0.5em;
}

article {
    border-radius: 0.5em;
    box-shadow: 0 1em 2.5em -1em var(--grayishBlue);
    padding: 2em;
    overflow-wrap: break-word;
}

img {
    float: right;
}

ul {
    list-style-type: square;
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--veryDarkBlue);
    font-weight: var(--weight2);
    display: inline;
}

.center {
    text-align: center;
    margin: 1em 0;
}

.first {
    margin-top: 1em;
}

.last {
    margin-bottom: 1em;
}

@media (min-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #network {
        grid-column: 2 / span 2;
    }
    #account {
        grid-column: 1 / span 2;
    }
    #contract {
        grid-column: 3 / span 2;
    }
    #status {
        grid-column: 1 / span 4;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: min(550px, 75%);
    background-color: var(--veryLightGray);
    transform: translate(-50%, 0%);
    margin: 0;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

[v-cloak] {
    display: none;
}